

.body         { padding-top:50px; }

.zoom_img img:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}

.zoom_img img{
-moz-transition:-moz-transform 0.1s ease-in; 
-webkit-transition:-webkit-transform 0.1s ease-in; 
-o-transition:-o-transform 0.1s ease-in;
}


span.p1 {display:block; text-decoration:none; background:#fff; border:0; margin:10px; display:inline-block; position:relative;}
span.p1 img {display:block; border:1px solid #aaa;}
span.p1:hover {text-decoration:none; background:#8c97a3; color:#000; z-index:500;}
span.p1 b {display:block; position:absolute; left:-9999px; padding:20px; opacity:0; background:#323232; border:1px solid #ddd; z-index:100;
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}
span.p1:hover b {top:-300px; left:110px; opacity:1;}


span.p2 {display:block; text-decoration:none; background:#fff; border:0; margin:10px; display:inline-block; position:relative;}
span.p2 img {display:block; border:1px solid #aaa;}
span.p2:hover {text-decoration:none; background:#8c97a3; color:#000; z-index:500;}
span.p2 b {display:block; position:absolute; left:-9999px; padding:20px; opacity:0; background:#323232; border:1px solid #ddd; z-index:100;
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}
span.p2:hover b {top:-200px; left:110px; opacity:1;}



.splashImg {
	width: 300px;
	height: auto;
}

.label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.inputText {
	background-color: lightyellow;
	border-style: solid;
	border-color: lightyellow;
	border: 0px 4px 0px 4px;
	padding: 1px 6px 1px 6px;

	:focus

	border-style: solid;
	border-color: black;
}

.tab40 { margin-left: 40px; }

.tab30 { margin-left: 30px; }

.tab10 { margin-left: 10px; }

.tab20 { margin-left: 20px; }

.input[type=checkbox], .input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.input[type=radio] {
    bottom: 2px;
}

.imgPad{
	padding: 10px;
}
.right{
 height:150px;
 float:right;
 background:white;
}
.left{
 height:150px;
 background:white;
 float:left;
}

.middle{
 height:150px;
 width:300px;
 background:white;
 overflow:hidden;
}


/*.img-with-text {
    text-align: center;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}


.img
{
    float: left;
    padding-right: 20px;

}  





.spin-add{
   -webkit-animation:spin 4s linear;
    -moz-animation:spin 4s linear;
    animation:spin 4s linear; 
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.fade-animation.ng-hide-add,
.fade-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition:0.5s linear all;

  display:block !important;
  opacity:1;
}
.fade-animation.ng-hide {
  opacity:0;
}

.demo
{ 
    float: left;
    padding-right: 20px;
    padding: 5px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 1000ms cubic-bezier(0.005, 1.650, 1.000, -0.600);
    transition-timing-function: cubic-bezier(0.005, 1.650, 1.000, -0.600);
}

.demo:hover
{
    box-shadow: 0px 0px 20px 5px #FFFFFF;
}
.show-off
{
    width: 500px;
    height: 500px;
    position: absolute;
    top: -180px;
    left: -600px;
    transition: 1s;
    transform: rotate(30deg);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.7)100%);
}
.demo:hover .show-off
{
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
}


.input {
    margin-left: -100px;
    margin-top: -10px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #c4c4c4;
    width: 200px;
    height: 20px;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}
*/

