<ng-include src="'static/eventHeader.html'"></ng-include>

<br></br>
<h4 class = "tab30" ng-if="wheelbarrowCardSum < 5">Your wheelbarrow has been D-E-S-T-R-O-Y-E-D!</h4>
<h4 class = "tab30" ng-if="wheelbarrowCardSum >= 5">You have defeated the Orcs and saved your wheelbarrow!</h4>

<div>
	<div class="row">
		<span ng-repeat="eventcard in game.questsInPlay.playingCards track by $index">
			<eventcard ng-show="eventcard.level===4" info="eventcard"></eventcard>
			<span class = "tab40" ng-show="eventcard.level===4" ng-if="wheelbarrowCardSum < 5 && playerCardsSumFound >= 5"><big>Buy back wheelbarrow for 5+ item points?</big></span>
			<span class = "tab40" ng-show="eventcard.level===4" ng-if="wheelbarrowCardSum < 5 && playerCardsSumFound < 5"><big>Looks like it was destroyed beyond repair.  Click Complete Event.</big></span>
			<button ng-show="eventcard.level===4" ng-if="wheelbarrowCardSum >= 5 || playerCardsSumFound < 5" class="btn btn-warning" ng-click="playerCompleteEvent($index,'N')">Complete Event</button>   
			<button ng-show="eventcard.level===4" ng-if="playerCardsSumFound >= 5 && wheelbarrowCardSum < 5" class="btn btn-warning" ng-click="playerCompleteEvent($index,'Y')">Yes</button>   
			<button ng-show="eventcard.level===4" ng-if="playerCardsSumFound >= 5 && wheelbarrowCardSum < 5" class="btn btn-warning" ng-click="playerCompleteEvent($index,'N')">No</button>   
		</span>	
	</div>
</div>

	


