<ng-include src="'static/gameEventHeader.html'"></ng-include>
<div class="container-fluid">
<div class="panel panel-primary">
	<ng-include src="'static/playerHeader.html'"></ng-include>		

	<br></br>

	<div class="row" ng-disabled="loadingData">
		<div class="col-sm-3" ng-repeat="cart in activePlayer.carts track by $index" >
			<img  class="tab10" ng-if="cart.active" style="{{cart.borderColor}}" width="{{cart.width}}" height="{{cart.height}}" ng-src="{{cart.image}}"></img>
			<span class="col-sm-1" ng-repeat="card in cart.cards.playingCards track by $index" >
				<img  style="{{card.borderColor}}" ng-click="userClickedCartItemEvent(cart.id, $index)" ng-src="{{card.image}}"/>
			</span>
		</div>
	</div>
	<p></p>
	<table class="table table-condensed">
		<thead>
			<tr>
				<td>
					<div class="left"><ng-include src="'static/cardsEvent.html'"></ng-include></div>
				</td>
				</tr>
			<tr>
				<td>
					<div class="right"><ng-include src="'static/marketEvent.html'"></ng-include></div>
				</td>
			</tr>
		</thead>
	</table>
</div>


<h4 class="tab40">Event! Broken Items - Select up to two items to replace  (Click zero, one or two items)</h4>
<ng-include src="'static/eventTemplateNoHeader.html'"></ng-include>


		</div>
