<div class="panel panel-info" style="float:center; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">  
	<div class="panel-heading">  
		<div class="panel-body">
			<table style="float: center;" class = "table table-condensed">
				<thead>
					<tr>
						<td>
							<h4>Market:</h4> 
						</td>
					</tr>	
					<tr>
						<td>
							<span ng-repeat="marketcard in game.itemMarketHolders.playingCards track by $index">
								<img  ng-show = "marketcard.count > 0" ng-src="{{marketcard.image}}" ng-click="userClickedMarketImage($index)"></img>
							</span>

						</td>
					</tr>	
					<tr ng-show="isActive===true">
						<td> 
							<span  ng-show="sumMarketValueSelected > 0"><b style="padding-left: 100px;">Items selected for trade:</b></span>
							<span ng-repeat="tradecard in game.marketDeckInTrade.playingCards track by $index">
								<img ng-show = "tradecard.count > 0" ng-src="{{tradecard.image}}" ng-click="userClickedMarketTradeImage($index)"></img>
							</span>
							<span ng-disabled="loadingData===true" >
								<button class="btn btn-primary" ng-show="sumMarketValueSelected < 11 && sumMarketValueSelected > 0 && activePlayer.cardSumSelected === sumMarketValueSelected" ng-click="playerMarketTrade()" >Trade {{game.sumMarketValueSelected}} item points?</button>    
							</span>
						</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
